## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [3]:
dados = {
    'assunto': ['Matemática','Português','Geografia','Inglês','História','Física','Química'],
    'n_questoes' : [24, 18, 8, 8, 8, 12, 12]
}
df_qtd_questoes = pd.DataFrame(data=dados)

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [7]:
# 1) Seu código aqui

df_mat['percent_acertos'] = (df_mat / 24) * 100
df_por['percent_acertos'] = (df_por / 18) * 100
df_geo['percent_acertos'] = (df_geo / 8) * 100
df_ing['percent_acertos'] = (df_ing / 8) * 100
df_his['percent_acertos'] = (df_his / 8) * 100
df_fis['percent_acertos'] = (df_fis / 12) * 100
df_qui['percent_acertos'] = (df_qui / 12) * 100

In [12]:
# 2) Seu código aqui
df_total = df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos'] + df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos']

In [15]:
# 3) Seu código aqui
arr = (df_total / 84) * 100
arr

0     41.666667
1     57.142857
2     59.523810
3     38.095238
4     35.714286
        ...
95    40.476190
96    32.142857
97    47.619048
98    47.619048
99    50.000000
Name: Qt_acertos, Length: 100, dtype: float64

In [16]:
# 4) Seu código aqui
filtro = arr > 45

arr[filtro]

#61 alunos

1     57.142857
2     59.523810
5     59.523810
7     58.333333
8     69.047619
        ...
92    47.619048
93    66.666667
97    47.619048
98    47.619048
99    50.000000
Name: Qt_acertos, Length: 61, dtype: float64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos? -> 24
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [23]:
# seu código aqui
filtro_mat = df_mat['Qt_acertos'] == 0

zerados_mat = df_mat[filtro_mat]

filtro_fis = df_fis['Qt_acertos'] == 0

zerados_fis = df_fis[filtro_fis]

filtro_qui = df_qui['Qt_acertos'] == 0

zerados_qui = df_qui[filtro_qui]

zerados = pd.concat([zerados_mat, zerados_fis, zerados_qui])
zerados

    Qt_acertos  percent_acertos
25           0              0.0
94           0              0.0
98           0              0.0
3            0              0.0
6            0              0.0
12           0              0.0
26           0              0.0
35           0              0.0
49           0              0.0
56           0              0.0
65           0              0.0
66           0              0.0
72           0              0.0
73           0              0.0
84           0              0.0
10           0              0.0
14           0              0.0
20           0              0.0
26           0              0.0
27           0              0.0
33           0              0.0
74           0              0.0
89           0              0.0
92           0              0.0

In [28]:
zerados.index

Int64Index([25, 94, 98,  3,  6, 12, 26, 35, 49, 56, 65, 66, 72, 73, 84, 10, 14,
            20, 26, 27, 33, 74, 89, 92],
           dtype='int64')

In [36]:
filtro = df_his.index.isin(zerados.index)

df_his[filtro].Qt_acertos.mean()

3.4347826086956523

In [37]:
filtro = df_geo.index.isin(zerados.index)

df_geo[filtro].Qt_acertos.mean()

3.217391304347826

In [39]:
df_total = df_mat + df_fis + df_geo + df_his + df_ing + df_por + df_qui

In [40]:
filtro = df_total.index.isin(zerados.index)

df_total[~filtro]

    Qt_acertos  percent_acertos
0           35       293.055556
1           48       293.055556
2           50       363.888889
4           30       252.777778
5           50       369.444444
..         ...              ...
93          56       438.888889
95          34       297.222222
96          27       234.722222
97          40       248.611111
99          42       291.666667

[77 rows x 2 columns]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [41]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [ ]:
df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')

In [42]:
# 1) Sua solução aqui

# Não estou conseguindo baixar a base do datasus

'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)